{% extends "admin/change_form.html" %}
{% load admin_static food_extras %}

{% block after_field_sets %}
<fieldset class="module aligned">
    <div class="form-row">
        <div>
            <label for="recipe">Recipe:</label>
            <select id="recipes">
                <option value="">---</option>
                {% for recipe in recipes %}
                    <option value="{{ recipe.id }}">{{ recipe }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</fieldset>

{{ log.totals }}
<br>
{{ log.totals|jsonify }}

<style type="text/css">
    td.field-unit input { width: 30px }
</style>

<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        // set "unit" to the same value that was specified in the Food object
        $("select[id^='id_foodlog_set']").change(function() {
            var foodlog_id = $(this).attr("id").match(/[\d]+/);
            var foodlog_unit = $('#id_foodlog_set-'+foodlog_id+'-unit');
            var new_food_id = $(this).val();

            $.get({% url 'get_food' %}, {id: new_food_id}, function(data) {
                var new_food_unit = data[0]['fields']['unit'];
                foodlog_unit.val(new_food_unit);
            });
        });

        // add all Foods that are specified in Recipe
        var recipe_select = $('#recipes');
        $('#recipes').change(function() {
            // get foods in recipe
            $.ajax({
              type: "GET",
              url: "{% url 'food.views.get_foods_for_id' %}",
              data: { id: recipe_select.val() }
            })
            .done(function(resp) {
                // for each ingredient in recipe
                $.each(resp, function(i, ingredient) {
                    // add new row
                    $('tr.add-row td a').trigger('click');

                    // get id of last row
                    var row_id = $('#foodlog_set-group .dynamic-foodlog_set:last').attr('id');

                    // populate row
                    $('#' + row_id + ' .field-food select').val(ingredient.food_id);
                    $('#' + row_id + ' .field-amount input').val(ingredient.amount);
                    $('#' + row_id + ' .field-unit input').val(ingredient.unit);

                    // set select element back to initial value
                    recipe_select.val('');
                }); // end each
            }); // end done
        }); // end change

        // focus on select box when another row is added
        $('.add-row a').click(function() {
            console.log($('.dynamic-foodlog_set .field-food select').last().focus());
        });
    });
})(django.jQuery);
</script>
{% endblock %}

{% block content %}

{{ block.super }}
<script type="text/javascript" src="{% static "js/d3.v3.min.js" %}"></script>
<div id="chart"></div>
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        var w = 200,
            h = 200,
            r = 100,
            color = d3.scale.category20c();

        // convert data into d3.js compatible format
        var totals = {{ log.totals|jsonify }};
        var data = [
            {"label": "Protein", "value": totals['protein']},
            {"label": "Carbs", "value": totals['carbs']},
            {"label": "Fat", "value": totals['fat']}];

        // calculate total amount of macros (used to calc percentages)
        var total = 0;
        for (var i = 0; i < data.length; i++) { 
            total = total + data[i].value; 
        }

        // create svg element
        var vis = d3.select("#chart")
                    .append("svg:svg")
                    .data([data])
                        .attr("width", w)
                        .attr("height", h)
                    .append("svg:g")
                        .attr("transform", "translate("+r+","+r+")")

        var arc = d3.svg.arc()
                    .outerRadius(r);

        var pie = d3.layout.pie()
                    .value(function(d) { return d.value; });

        var arcs = vis.selectAll("g.slice")
                      .data(pie)
                      .enter()
                      .append("svg:g")
                      .attr("class", "slice");

        arcs.append("svg:path")
            .attr("fill", function(d, i) { return color(i); } )
            .attr("d", arc);

        // add text
        arcs.append("svg:text")
            .attr("transform", function(d) {
                d.innerRadius = 0;
                d.outerRadius = r;
                return "translate(" + arc.centroid(d) + ")";})
            .attr("text-anchor", "middle")
            .text(function(d, i) {
                p = (100/total) * d.data.value;
                return d.data.label + " ("+ Math.round(p) +"%)";
            });
    }); // end document.ready
})(django.jQuery);
</script>
{% endblock %}
